<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>EcoHero</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>
<body style="background-color:#f7f7f7;">
  {%if request.user.is_authenticated%}
    {% include "ecom/customer_navbar.html" %}
  {%else%}
    {% include "ecom/navbar.html" %}
  {%endif%}
  <br><br><br>
<h3 style="text-align:center;"> At EcoHero, we believe that everyone has a role to play in protecting the environment. That's why we're committed to providing our customers with eco-friendly products that are both good for the planet and good for your wallet. </h3>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>

  {% include "ecom/footer.html" %}
</body>

</html>