<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EcoHero</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <style>

  </style>
</head>
<body>
  <div id="navbar">
    <div class="container">
      <div class="row row1">
        <ul class="largenav pull-right">
          <li class="upper-links"><a class="links" href="/my-order">Track Orders</a></li>
          <li class="upper-links"><a class="links" href="/my-profile">Profile</a></li>
          <li class="upper-links"><a class="links" href="/logout">Logout</a></li>
        </ul>
      </div>
      <div class="row row2">
        <div class="col-sm-3">
          <h2><a style="text-decoration:none; color:white;" href="/"><span class="largenav">EcoHero</span></a></h2>
        </div>
        <div class="navbar-search smallsearch col-sm-7 col-xs-11">
          <form action="/search" method="get">
            <div class="row">
              <input class="navbar-input col-xs-11" value="{% if search_text %}{{ search_text }}{% endif %}" type="search" placeholder="Search for Products, Brands and more" name="query" id="query">
              <button class="navbar-button col-xs-1" type="submit">
                <svg width="15px" height="15px">
                 
                </svg>
              </button>
            </div>
          </form>
        </div>
        <div class="cart1 largenav col-sm-2">
          <a class="cart-button" href="/cart">
            <svg class="cart-svg" width="16" height="16" viewBox="0 0 16 16">
   
            </svg>
            Cart <span class="item-number">{{ product_count_in_cart }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  {% block content %}

  {% endblock content %}

  <br><br><br>
  <footer>
    <br>
    <p>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-whatsapp"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-twitter"></a>
    </p>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="wow fadeInUp footer-copyright">
            <p>EcoHero<br>
              © Since 2024</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script>
    $(
